.Dragon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .avatar {
    position: relative;
    overflow: hidden;
    max-width: 200px;
    margin: 0;
    padding: 10px;
    img {
      max-width: 100%;
    }
  }
  p {
    color: gray;
    span {
      color: black;
    }
  }
}

.link {
  display: block;
  padding: 10px;
  text-align: center;
}

.loading {
  display: flex;
  padding: 20px;
  justify-content: center;
}
